.bg {
    background-image: linear-gradient(to right, #667db6,#0082c8,#0082c8,#667db6);
    border-radius: 0 !important;
}

.aprgb {
    border-radius: 0 !important;
    padding: 2rem 2rem;
}

.bg h1, .bg p {
    color:#fff;
    text-shadow:1px 1px 2px rgba(0,0,0,0.3);
}

.navbar-brand {
    font-size: 100%;
    font-weight: bold;
}

tr.spaceUnder > td {
  padding-bottom: 0.5rem;
}

.portrait {
    width: 60px;
    height: 60px;
}

.portrait-keynote {
    width: 120px;
    height: 120px;
}


.affiliation {
    font-size: 80%;
    margin-bottom: 0;
}


span.line {
    display: inline-block;
}

a.dotted-underline {    
    border-bottom: 1px dotted #fff;
    text-decoration: none;
}

/* Agenda */
.agenda {
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
  }
  .agenda dt {
    padding: 10px 15px;
    text-align: center;
    font-weight: bold;
  }
  .agenda dd {
    margin: 0;
    padding: 10px 15px;
    overflow: hidden;
  }
  .agenda dd span {
    position: absolute;
  }
  .agenda ul {
    float: left;
    margin: 0 0 0 50px;
    padding: 0;
    list-style: none;
    width: 90%;
    border-left: 1px solid rgba(255,255,255,.4);
  }
  .agenda li {
    border-bottom: 1px solid rgba(255,255,255,.4);
    padding: 0 0 5px 10px;
    margin-bottom: 5px;
  }
  .agenda li:last-child {
    padding-bottom: 0;
    margin: 0;
    border: 0;
  }
  .agenda dd:nth-child(2) {
    background: #17a3b8;
  }
  .agenda dd:nth-child(3) {
    background: #48c1ca;
  }
  .agenda dd:nth-child(4) {
    background: #43b12c;
  }
  .agenda dd:nth-child(5) {
    background: #bdd82b;
  }
  .agenda dd:nth-child(6) {
    background: #f9d424;
  }
  .agenda dd:nth-child(7) {
    background: #f15910;
  }
  .agenda dd:nth-child(8) {
    background: #dd467d;
  }
  .agenda dd:nth-child(9) {
    background: #de379b;
  }
  .agenda dd:nth-child(10) {
    background: #7a28e6;
  }
